.cont{
    background: linear-gradient(to bottom, #181818, #272727);
    width: 30vw;
    height: 15vw;
    border-radius: 15px;
    display: none;
    flex-direction: column;
    gap: 5px;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50vw;
    top: 70vh;
    justify-content: center;
    user-select: none;
        box-shadow:
        0 0 5px #2D2D2D,
        0 0 5px #2d2d2d,
        inset 0 0 5px #2D2D2D;
}
.txt{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 3vh;
    color:white;
}
.md{
    color: #222222
}
.row{
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center;
}

.block{
    width: 3vw;
    height: 3vw;
    background-color: #222222;
    border: 3px solid #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.block2{
    width: 3vw;
    height: 3vw;
    background-color: #222222;
    border: 3px solid #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.img{
    width:  90%
}
